# Практика 03. Базовые конструкции языка Python. Коллекции данных: строки, списки, кортежи, множества, словари. Решение прикладных задач

**Списки**: содержат значения.<br>
Ими могут быть числа, строки, имена и так далее:<br>
Модели автомобилей;<br>
Имена собак;<br>
Посещенные страны;<br>
Посетители магазина и так далее.<br>

**Кортежи**: этот тип данных очень похож на список, но с одним исключением.<br>
**После создания кортежа его значения нельзя менять**. Списки — изменяемые, а кортежи — нет.<br>
Это может понадобиться в определенных случаях для достижения безопасности или просто удобства.<br>
В кортежах могут, например, храниться:<br>
Все месяцы года;<br>
Дисциплины Олимпийских игр;<br>
Штаты США.<br>
Важно только отметить, что кортежи не являются вообще неизменяемыми, ведь вы всегда можете переписать код, поменяв или удалив определенные значения. Речь идет о том, что значения не могут быть изменены после создания — во время работы программы.

**Словари** — это пары из ключа и значения.<br>
Словари также являются изменяемыми.<br>
Это удобная структура данных, которая подходит для сохранения значения с определенными дополнительными параметрами, например:<br>
Данные клиента включая список его покупок<br>
Названия стран + их количество олимпийских медалей<br>
Автомобильные бренды и их модели<br>
Страны с количеством ДТП с летальным исходом<br><br>

Функции **list()** и **dict()** очень простые. Они помогают создавать соответствующие структуры данных.<br>
List(), dict() и float() используют круглые скобки, потому что они являются функциями.<br>
Скобки сами по себе представляют кортеж, и их не стоит путать со скобками в функциях, например, list().

**Инициализировать список, кортеж и словарь** можно несколькими способами.<br>
Один из наиболее распространенных — присвоить соответствующие символы переменной.<br>
Для списка эти символы — [], для кортежа — (), а для словаря — {}.<br>
Если присвоить эти символы без значений внутри, то будут созданы соответствующие пустые структуры данных.

In [188]:
import numpy as np
import pandas as pd

## Часть 1. Списки

### Основы работы со списками

In [ ]:
# пустой список можно создать (инициализировать) через [] или функцию list()

some_list_1 = []
some_list_2 = list()

In [ ]:
print(some_list_1, some_list_2)

[] []

In [ ]:
# элементами списка могут, в частности числа, строки, другие списки и словари

number_three = [3, 'число три', ['число', 'три'], {'число': 3}]
number_three

[3, 'число три', ['число', 'три'], {'число': 3}]

In [ ]:
# длина списка рассчитывается через функцию len()

len(number_three)

4

### Индекс и срез списка

In [ ]:
# у списка есть положительный и отрицательный индексы

abc_list = ['a', 'b', 'c', 'd', 'e']

In [ ]:
# воспользуемся ими для вывода первого и последнего элементов

print(abc_list[0], abc_list[-1])

a e

In [ ]:
# при работе с вложенным списком

salary_list = [['Анна', 90000], ['Игорь', 85000], ['Алексей', 95000]]

In [ ]:
# вначале указываем индекс вложенного списка, а затем индекс элемента в нем

salary_list[1][1]

85000

In [ ]:
# индекс элемента в списке можно узнать с помощью метода .index()

abc_list.index('c')

2

In [ ]:
# метод .index() можно применить и ко вложенному списку

salary_list[0].index(90000)

1

В случае если необходимо получить **срез списка**, то так же как и в случае строк, указывается начало среза и элемент, до которого (но не включая который) нужно сделать срез.

In [ ]:
# создадим список с днями недели

days_list = ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']

In [ ]:
# и выведем со второго по пятый элемент включительно

days_list[1:5]

['Вт', 'Ср', 'Чт', 'Пт']

У среза есть третий параметр — **шаг**. Он позволяет пропускать заданное количество элементов.

In [ ]:
# выведем каждый второй элемент в срезе с первого по пятый

days_list[0:5:2]

['Пн', 'Ср', 'Пт']

Можно проверить, содержится ли элемент в списке, с помощью ключевого слова `in`.

In [ ]:
# проверим есть ли "Пн" в списке

'Пн' in days_list

True

In [ ]:
# если "Вт" есть в списке

if 'Вт' in days_list:

  # выведем сообщение

  print('Такой день недели есть')

Такой день недели есть

### Добавление, замена и удаление элементов списка

In [ ]:
# создадим список

weekdays = ['Понедельник', 'Вторник']

In [ ]:
# добавим один элемент в конец списка с помощью метода .append()

weekdays.append('среда')
weekdays

['Понедельник', 'Вторник', 'Среда', 'Четверг', 'среда']

Метод `.insert()` позволяет добавить элемент в середину списка, при этом индекс последующих элементов сдвигается.

In [ ]:
# добавим элемент в определенное место в списке через желаемый индекс этого элемента

weekdays.insert(2, 'Среда')
weekdays

['Понедельник', 'Вторник', 'Среда', 'Четверг', 'среда']

In [ ]:
# изменим четвертый элемент в списке

weekdays[3] = 'Пятница'
weekdays

['Понедельник', 'Вторник', 'Среда', 'Пятница', 'среда']

Элемент можно **удалить**, указав либо его название, либо индекс.

In [ ]:
# удалим элемент по его значению

weekdays.remove('Пятница')
weekdays

['Понедельник', 'Вторник', 'Среда', 'среда']

In [ ]:
# удалим элемент по его индексу через ключевое слово del

del(weekdays[2])
weekdays

['Понедельник', 'Вторник', 'среда']

In [ ]:
# сделаем то же самое с помощью метода .pop()
# этот метод выводит удаляемый элемент

weekdays.pop(1)

'Вторник'

Все эти операции возможны благодаря тому, что **списки** (1) **упорядочены** и (2) **изменяемы**.

In [ ]:
# посмотрим, что осталось в списке

weekdays

['Понедельник', 'среда']

### Сложение списков

Добавить к списку еще один список можно с помощью метода `.extend()`.

In [ ]:
more_weekdays = ['Вторник', 'Среда', 'Четверг', 'Пятница']

In [ ]:
# соединить два списка можно с помощью метода .extend()

weekdays.extend(more_weekdays)
weekdays

['Понедельник', 'среда', 'Вторник', 'Среда', 'Четверг', 'Пятница']

Кроме того, два списка можно просто сложить (**concatenate**).

In [ ]:
weekend = ['Суббота', 'Воскресенье']

In [ ]:
# или просто сложив два списка

print(weekdays + weekend)

['Понедельник', 'среда', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота', 'Воскресенье']

In [ ]:
# иногда бывает полезно "размножить" элементы списка

['Понедельник'] * 2

['Понедельник', 'Понедельник']

In [ ]:
# такие "произведения" также можно складывать

['Понедельник'] * 2 + ['Вторник'] * 2

['Понедельник', 'Понедельник', 'Вторник', 'Вторник']

### Сортировка списков

Для сортировки списка можно использовать функцию `sorted()` и метод `.sort()`. Функция `sorted()` не изменяет объект и сразу выводит результат сортировки.

In [ ]:
# возьмем список чисел

nums = [25, 10, 30, 20, 5, 15]

In [ ]:
# и отсортируем с помощью функции sorted(), результат выводится сразу

sorted(nums)

[5, 10, 15, 20, 25, 30]

In [ ]:
# исходный список при этом не изменился

nums

[25, 10, 30, 20, 5, 15]

In [ ]:
# если поместить результат в переменную, изменения сохранятся

sorted_nums = sorted(nums)
sorted_nums

[5, 10, 15, 20, 25, 30]

In [ ]:
# метод .sort() сохраняет результат, но не выводит его сразу
# reverse = True задает сортировку по убыванию

nums.sort(reverse = True)

In [ ]:
# выведем результат

nums

[30, 25, 20, 15, 10, 5]

Метод `.reverse()` задает обратный порядок элементов списка (объект также изменяется, результат по умолчанию не выводится).

In [ ]:
# метод .reverse() задает обратный порядок, сохраняет, но не выводит результат

nums.reverse()

In [ ]:
# его также нужно вывести отдельно

nums

[5, 10, 15, 20, 25, 30]

# Задание
1. Есть список имен `girls`:<br>
girls = ['Иветта', 'Виолетта', 'Кассандра', 'Вирджиния', 'Амелия', 'Розамунда', 'Янина', 'Беатриса'].<br>
Используя список `girls` и срезы, выведите на экран следующие списки:

    ['Виолетта', 'Кассандра', 'Вирджиния", 'Амелия']<br>
    ['Вирджиния', 'Амелия', 'Розамунда", 'Янина', 'Беатриса']<br>
    ['Иветта', 'Виолетта", 'Вирджиния', 'Амелия']<br>
    ['Кассандра', 'Амелия', 'Розамунда']<br>
*Подсказка:* для списков 3, 4 используйте срезы и сложение списков.<br>

2. Даны два списка `a` и `b`:<br>
   a = [1, 0, 9, 12, 18, 34, 89, 91, 33, 127]<br>
   b = [2, 8, 9, 11, 76, 25, 44]<br>
    
* Выведите на экран первый элемент списка `a`, третий элемент списка `a`, последний элемент списка `a`.
* Добавьте в список `b` элемент 7 (просто допишите в конец).
* Замените пятый элемент списка `a` на число 8.
* Создайте список `merged`, который включает в себя все элементы списка `a` и списка `b`.
* Создайте новый список `с`, который получается заменой последнего элемента списка `a` на число 100. Сам список `a` измениться не должен!<br>
  *Подсказка:* вспомните про метод `.copy()`.<br>

3. Дан список `d`: d = [12, 3, 8, 125, 10, 98, 54, 199]. Используя цикл выведите на экран (последовательно, с новой строчки):

* все элементы списка `d`;
* логарифмированные значения элементов списка `d` (потребуется функция `log()` из библиотеки `math`);
* замените пятый элемент списка `d` на 0. Проделайте те же операции, что и выше. Объясните, почему получаются такие результаты.

In [121]:
import math as m

girls = ['Есения', 'Саша', 'Маша', 'Даша', 'Катя', 'Надя', 'Люба', 'Люда']

print(girls[1:5])
print(girls[3:8])
print(girls[0:2] + girls[3:5])
print(girls[2:3] + girls[4:6])

print()

a = [10, 20, 30, 34, 28, 43, 97, 27, 94, 128]
b = [4, 9, 3, 111, 67, 52, 22, 7]

print('1)', a[0], a[2], a[-1])

a[4] = 8
print('2)', a)

merged = a + b
print('3)', merged)

c = a.copy()
c[-1] = 100
print('4)', c)

print()

d = [21, 6, 7, 521, 10, 89, 45, 299]

for num in d:
    print(num)

print()

for num in d:
    print(m.log(num))

print()

d[4] = 0

for num in d:
    print(num)

print()

try:
    for num in d:
        print(m.log(num))

except:
    print('ValueError, log от 0 не определен')

# В случае с логарифмом после замены элемента на 0,
# программа выбрасывает исключение ValueError,
# так как логарифм от 0 не определен.
# В Python это приводит к ошибке вычисления.
# Поэтому логарифм всех элементов списка d,
# можно вычислить только в случае, если в списке нет нулевых значений.

['Саша', 'Маша', 'Даша', 'Катя']
['Даша', 'Катя', 'Надя', 'Люба', 'Люда']
['Есения', 'Саша', 'Даша', 'Катя']
['Маша', 'Катя', 'Надя']

1) 10 30 128
2) [10, 20, 30, 34, 8, 43, 97, 27, 94, 128]
3) [10, 20, 30, 34, 8, 43, 97, 27, 94, 128, 4, 9, 3, 111, 67, 52, 22, 7]
4) [10, 20, 30, 34, 8, 43, 97, 27, 94, 100]

21
6
7
521
10
89
45
299

3.044522437723423
1.791759469228055
1.9459101490553132
6.255750041753367
2.302585092994046
4.48863636973214
3.8066624897703196
5.700443573390687

21
6
7
521
0
89
45
299

3.044522437723423
1.791759469228055
1.9459101490553132
6.255750041753367
ValueError, log от 0 не определен

### Преобразование списка в строку

In [7]:
# дан список из строковых элементов

str_list = ['P', 'y', 't', 'h', 'o', 'n']

Преобразуем список в строку с помощью метода `.join()`. Обратите внимание, пространство между элементами списка мы ничем не заполняем и для этого оставляем кавычки пустыми ''.

In [8]:
# с помощью метода .join() можно соединить все элементы

joined_str = ''.join(str_list)
joined_str

'Python'

In [9]:
# если в кавычках ничего не указывать, элементы просто соединятся, но можно указать любой другой элемент

joined_str_ = '_'.join(str_list)
joined_str_

'P_y_t_h_o_n'

### Арифметика в списках

In [15]:
# дан список чисел

nums_ = [3, 2, 1, 4, 5, 12, 3, 3, 7, 9, 11, 15]

С помощью метода `.count()` можно посчитать частоту вхождения элемента в список.

In [11]:
# с помощью метода .count() мы можем посчитать частоту вхождения элемента в список

3

In [12]:
# кроме того можно найти минимальное и максимальное значения и сумму элементов

1 15 75

## Часть 2. Кортежи

### Основы работы с кортежами

Кортеж (`tuple`) инициализируется при помощи круглых скобок () или функции `tuple()`.

In [16]:
# пустой кортеж можно создать с помощью пустых круглых скобок () или функции tuple()

tuple_1, tuple_2 = (), tuple()

print(tuple_1, tuple_2)

() ()

Во многом **кортеж** похож на список. Это также **упорядоченный** набор элементов с индексом, начинающимся с нуля.

In [17]:
# в кортеже элементы упорядочены, а значит есть индекс

letters = ('a', 'b', 'c')
letters[0]

'a'

Основное отличие от списка — **кортеж неизменяем**. После того как кортеж создан, добавлять или удалять элементы нельзя.<br>

Например, заменить элемент по его индексу нельзя.

In [18]:
# но изменить элемент, как мы это делали в списке, нельзя

letters[0] = 'd'

TypeError: 'tuple' object does not support item assignment

Для этого придется вначале преобразовать кортеж в список.

In [19]:
# для изменения элемента кортеж вначале нужно преобразовать в список

letters = list(letters)
letters[0] = 'd'
letters

['d', 'b', 'c']

In [20]:
# кортеж из одного элемента можно создать с помощью запятой

let_a = ('a', )

type(let_a)

tuple

In [21]:
# если запятую не указывать, получится строка

let_a = ('a')

type(let_a)

str

## Часть 3. Множества

Про множества важно запомнить три факта:

- Элементы множества **изменять нельзя**
- Множество — это набор **уникальных** элементов, а значит повторы в нем удаляются
- У множества нет индекса, элементы **не упорядочены**

### Создание множества

Множество можно создать с помощью функции `set()` или перечислив элементы в фигурных скобках `{}`.

In [22]:
# пустое множество задается через функцию set()

set_1 = set()

In [24]:
# непустое множество задается через функцию set() и список элементов

set_2 = set(['a', 'b', 'c', 'c'])

In [25]:
# или путем перечисления элементов в фигурных скобках {}

set_3 = {'a', 'b', 'c', 'c'}

In [26]:
# множество содержит только уникальные элементы, поэтому дубликаты удаляются

print(set_1, set_2, set_3)

set() {'a', 'c', 'b'} {'a', 'c', 'b'}

**!Обратите внимание**, Python вывел элементы множества не в том порядке, в котором они были изначально записаны, и кроме того удалил повторяющийся элемент 'c'.

In [33]:
# создать множество через пустые фигурные скобки нельзя

not_a_set = {}

# так создается словарь

type(not_a_set)

dict

### Добавление и удаление элементов

Изменять элементы множества нельзя. При этом ничто не мешает их добавлять или удалять. Предположим, мы начали создавать множество гласных букв в русском языке.

In [34]:
# предположим, что мы хотим создать множество гласных букв в русском языке

vowels = {'а', 'о', 'э', 'е', 'у', 'ё', 'ю'}

Метод `.add()` позволяет добавить элемент во множество. Например, букву «я».

In [35]:
# добавим одну букву "я" методом .add()

vowels.add('я')
vowels

{'а', 'е', 'о', 'у', 'э', 'ю', 'я', 'ё'}

Несколько элементов можно добавить с помощью метода `.update()`.

In [38]:
# добавим две буквы "и" и "ы" методом .update()

vowels.update(['и', 'ы', 'с', 'г'])
vowels

{'а', 'г', 'е', 'и', 'о', 'с', 'у', 'ы', 'э', 'ю', 'я', 'ё'}

In [39]:
# если по ошибке добавим согласную букву

vowels.add('щ')
vowels

{'а', 'г', 'е', 'и', 'о', 'с', 'у', 'щ', 'ы', 'э', 'ю', 'я', 'ё'}

Ее можно удалить с помощью метода `.remove()`.

In [43]:
# ее можно удалить методом .remove()

vowels.remove('с')
vowels

{'а', 'е', 'и', 'о', 'у', 'ы', 'э', 'ю', 'я', 'ё'}

### Теория множеств в Python

Разумеется, объект множества в Python согласуется с математической теорией множеств (set theory).

В частности, **равные множества** — это множества, состоящие из одних и тех же элементов (при этом порядок элементов не важен). Python позволяет это проверить.

In [49]:
# два множества равны, если содержат одинаковые элементы, при этом порядок элементов не важен

{'a', 'b', 'c'} == {'c', 'b', 'a'}

True

Мощность множества или его кардинальное число отражает количество элементов множества и рассчитывается с помощью функции `len()`.

In [53]:
# выведем мощность множества с помощью функции len()
a = {'a', 'b', 'c'}

len(a)

3

In [54]:
# проверим, содержится ли элемент во множестве

'a' in a

True

In [55]:
# возможна и обратная операция

'a' not in a

False

### Подмножество и надмножество

Одно множество, назовем его A, называется **подмножеством (subset)** другого множества B, если все элементы множества A также принадлежат и множеству B. Python позволяет это проверить с помощью метода `.issubset()`.

In [56]:
# проверим является ли А подмножеством В

set_A = {'a', 'b', 'c'}
set_B = {'a', 'b', 'c', 'd', 'e', 'f'}

In [57]:
set_A.issubset(set_B)

True

Множество B называется **надмножеством (superset)** A, если A является подмножеством B. По сути, это обратная логическая операция, для которой есть метод `.issuperset()`.

In [58]:
# проверим является ли B надмножеством А

set_B.issuperset(set_A)

True

### Объединение, пересечение и разность множеств

Предположим, есть две команды инженеров машинного обучения, одна занимается обработкой естественного языка (nlp), другая — компьютерным зрением (cv). Некоторые занимаются и тем, и другим.

In [59]:
# даны участники команд по обработке естественного языка (nlp) и компьютерному зрению (cv)

nlp = set(['Анна', 'Николай', 'Павел', 'Оксана'])
cv = set(['Николай', 'Евгений', 'Ольга', 'Оксана'])

**Объединение множеств (union)** отражает логическую операцию ИЛИ. Выберем тех специалистов, которые состоят хотя бы в одной команде. Другими словами, принадлежат или одному, или другому множеству, или обоим сразу.

In [61]:
# найдем тех, кто работает или в nlp, или в cv, или в обеих командах

# можно использовать метод .union()

print(nlp.union(cv))

print(cv | nlp)

{'Оксана', 'Анна', 'Николай', 'Евгений', 'Ольга', 'Павел'}
{'Оксана', 'Анна', 'Николай', 'Евгений', 'Ольга', 'Павел'}

Есть два способа задать объединение множеств: через метод `.union()` или с помощью символа `|`. Аналогичные возможности есть и для других операций с множествами.

При **пересечении множеств (intersection)** осуществляется логическая операция И. Выбираем только тех людей, которые работают в обеих командах, т.е. принадлежат обоим множествам.

In [62]:
# найдем пересечение множеств, то есть тех, кто работает и в nlp, и в cv

print(nlp.intersection(cv))
print(nlp & cv)

{'Оксана', 'Николай'}
{'Оксана', 'Николай'}

**Разность множеств (difference)** nlp и cv позволяет увидеть, кто в команде по обработке естественного языка занимается только этой областью, и не учавствует в проектах по компьютерному зрению.

In [66]:
# выведем тех, кто работает только в nlp, но не в cv или cv и nlp одновременно

print(nlp.difference(cv))
print(nlp - cv)

{'Анна', 'Павел'}
{'Анна', 'Павел'}

In [65]:
# выведем тех, кто работает только в cv, но не в nlp или nlp и cv одновременно

print(cv.difference(nlp))
print(cv - nlp)

{'Ольга', 'Евгений'}
{'Ольга', 'Евгений'}

**Симметричная разность (symmetric difference)** множеств объединяет обе предыдущие операции разности.

In [67]:
# найдем тех, кто работает или в cv, или в nlp, но не в обеих областях одновременно

print(nlp.symmetric_difference(cv))
print(nlp ^ cv)

{'Анна', 'Евгений', 'Ольга', 'Павел'}
{'Анна', 'Евгений', 'Ольга', 'Павел'}

# Задание

- Даны два множества людей, посетивших Францию и Испанию. С помощью Python найдите тех, кто был и во Франции, и в Испании.
- Воспользуйтесь этими же множествами и найдите тех, кто был только в Испании, но не заезжал еще и во Францию.
- И наоборот, найдите тех, кто был только во Франции, но не в Испании.

In [68]:
france = {'Есения', 'Спартак', 'Гоша', 'Гриша'}
spain = {'София', 'Серега', 'Гоша', 'Гриша'}

In [77]:
# Были во Франции и Испании:
print('Были во Франции и Испании:', france & spain)
print('Были только в Испании:', spain - france)
print('Были только во Франции:', france - spain)

Были во Франции и Испании: {'Гриша', 'Гоша'}
Были только в Испании: {'Серега', 'София'}
Были только во Франции: {'Есения', 'Спартак'}

## Часть 4. Понятие словаря

**Словари**, наряду со списками, кортежами и множествами, также входят в состав **коллекций** (collections), т.е. структур данных, содержащих несколько элементов.

**Словарь** — неупорядоченный набор элементов с доступом по ключу.

Словарь состоит из **ключей** и **значений**. По ключу (key) всегда можно найти соответствующее ему значение (value).

*Например*, словарь для списка покупок: `shopping_dict` = {'огурцы': 2, 'помидоры': 3, 'лук': 1, 'картофель': 2}<br>
Ключи - овощи, значения - килограммы.

Для **создания словаря** используются фигурные скобки, в которые через запятую записываются ключи и значения, разделенные двоеточием:<br>
{ключ: значение, ключ: значение}

### Создание словаря

In [78]:
# пустой словарь можно создать с помощью {} или функции dict()

dict_1, dict_2 = {}, dict()

print(dict_1, dict_2)

{} {}

In [79]:
#списки

veg_list, quantity_list = ['огурцы', 'помидоры', 'лук', 'картофель'], [2, 3, 1, 2]
print(veg_list, quantity_list)

['огурцы', 'помидоры', 'лук', 'картофель'] [2, 3, 1, 2]

In [82]:
#словарь

shopping_dict = {'огурцы': 2, 'помидоры': 3, 'лук': 1, 'картофель': 2}
shopping_dict

{'огурцы': 2, 'помидоры': 3, 'лук': 1, 'картофель': 2}

In [81]:
# словарь можно сразу заполнить ключами и значениями

company = {'name': 'Toyota', 'founded' : 1937, 'founder': 'Kiichiro Toyoda'}
company

{'name': 'Toyota', 'founded': 1937, 'founder': 'Kiichiro Toyoda'}

In [85]:
# словарь можно создать из вложенных списков

tickers = dict([['TYO', 'Toyota'], ['TSLA', 'Tesla'], ['F', 'Ford']])
tickers

{'TYO': 'Toyota', 'TSLA': 'Tesla', 'F': 'Ford'}

Иногда бывает полезно создать словарь с заранее известными ключами и заданным значением.

In [91]:
# если поместить ключи в кортеж
keys = ('k1', 'k2', 'k3')

# и задать значение
value = 0

In [92]:
# то с помощью метода .fromkeys() можно создать словарь
# с этими ключами и заданным значением для каждого из них

empty_values = dict.fromkeys(keys, value)
empty_values

{'k1': 0, 'k2': 0, 'k3': 0}

### Ключи и значения словаря

Как и списки, **словари хранят значения любых типов**. Но **у ключей есть ограничения**: ключами словаря могут быть только неизменяемые типы данных. Например, строки, числа, кортежи или логические значения (Boolean). Кроме того, ключи должны быть уникальными и соответственно не могут повторяться.

Значения словаря, наоборот, могут состоять из чисел, строк, пропущенных (NaN) и логических значений, значения типа None, списков, массивов Numpy и вложенных словарей.

#### Виды значений словаря

In [95]:
# приведем пример того, какими могут быть значения словаря

value_types = {'k1' : 123,
               'k2' : 'string',
              #  'k3' : np.NaN, # тип "Пропущенное значение"
               'k4' : True, # логическое значение
               'k5' : None,
               'k6' : [1, 2, 3],
              #  'k7' : np.array([1, 2, 3]),
               'k8' : {1 : 'v1', 2 : 'v2', 3 : 'v3'}}

value_types

{'k1': 123,
 'k2': 'string',
 'k4': True,
 'k5': None,
 'k6': [1, 2, 3],
 'k8': {1: 'v1', 2: 'v2', 3: 'v3'}}

Что будет, если в словаре есть одинаковые ключи.

In [96]:
{'k1' : 1, 'k1' : 2, 'k1' : 3}

{'k1': 3}

#### Методы `.keys()`, `.values()` и `.items()`

In [97]:
# создадим словарь с информацией о сотруднике

person = {'first name' : 'Иван',
          'last name' : 'Иванов',
          'born' : 1980,
          'dept' : 'IT'}

In [101]:
# посмотрим на ключи и

print(person.keys())
print(person.values())
print(person.items())

dict_keys(['first name', 'last name', 'born', 'dept'])
dict_values(['Иван', 'Иванов', 1980, 'IT'])
dict_items([('first name', 'Иван'), ('last name', 'Иванов'), ('born', 1980), ('dept', 'IT')])

In [102]:
# значения

person.values()

dict_values(['Иван', 'Иванов', 1980, 'IT'])

In [103]:
# а также на пары ключ-значение в виде списка из кортежей

person.items()

dict_items([('first name', 'Иван'), ('last name', 'Иванов'), ('born', 1980), ('dept', 'IT')])

#### Использование цикла for

Ключи и значения словаря удобно просматривать с помощью цикла for и метода .items().

In [105]:
# ключи и значения можно вывести в цикле for

for k, v in person.items():
    print(k + ':', v)

first name: Иван
last name: Иванов
born: 1980
dept: IT

Если записать результат метода `.items()` в одну переменную, будут выведены кортежи из ключа и значения.<br>
Использование в цикле for методов `.keys()` и `.values()` выводит только ключи или только значения соответственно.

In [106]:
# одна переменная

for i in person.items():
    print(i)

('first name', 'Иван')
('last name', 'Иванов')
('born', 1980)
('dept', 'IT')

In [107]:
#ключи

for k in person.keys():
    print(k)

first name
last name
born
dept

In [108]:
#значения

for v in person.values():
    print(v)

Иван
Иванов
1980
IT

#### Доступ по ключу и метод .get()

**Небезопасный способ.**<br>
**Конкретное значение** в словаре можно получить, введя название словаря и затем название ключа в квадратных скобках.

In [109]:
# значение можно посмотреть по ключу

person['last name']

'Иванов'

In [110]:
# если такого ключа нет, Python выдаст ошибку

person['education']

KeyError: 'education'

**Безопасный способ.**<br>
Чтобы избежать ошибки, небезопасный способ иногда сочетают с конструкцией `try...except`:

In [119]:
try:
    value = person['last name'] # ищем ключ в словаре
    print(value) # если ключ найден — выводим значение

except:
    print('Ключ не найден!') # иначе выводим сообщение

Иванов

In [115]:
try:
    value = person['education'] # ищем ключ в словаре
    print(value) # если ключ найден — выводим значение

except:
    print('Ключ не найден!') # иначе выводим сообщение

Ключ не найден!

**Предпочтительный безопасный способ.** Метод словаря `.get()`.

In [127]:
# чтобы этого не произошло, можно использовать метод .get()
# по умолчанию, при отсутствии ключа, он выводит значение None

print(person.get('education'))
print(person.get('born'))

None
1980

In [123]:
print(person.get('education', 'Ключ не найден!'))

Ключ не найден!

In [128]:
# если ключ все-таки есть, .get() выведет соответствующее значение

person.get('born')

1980

#### Проверка вхождения (наличия) ключа и значения в словарь

С помощью оператора `in` можно проверить наличие определенного ключа в словаре.<br>
Важно сказать, что оператор `in` работает быстрее метода `.get()`.

In [129]:
# проверим, есть ли такой ключ

'born' in person

True

Метод `.values()` поможет проверить наличие определенного значения.

In [130]:
# и такое значение

1980 in person.values()

True

Метод `.items()` поможет проверить наличие пары ключ : значение. Обратите внимание, эту пару следует записать в форме кортежа.

In [135]:
# можно также проверить наличие и ключа, и значения одновременно

print(('born', 1980) in person.items())

True

### Операции со словарями

#### Добавление и изменение элементов

In [142]:
# добавить элемент можно, передав новому ключу новое значение

person['pay'] = 45_000
person['flowers'] = ['rozy', 'lilii']
person

{'first name': 'Иван',
 'last name': 'Иванов',
 'born': 1980,
 'dept': 'IT',
 'pay': 45000,
 'languages': ['Python'],
 'flowers': ['rozy', 'lilii']}

In [137]:
# добавить элемент можно, передав новому ключу новое значение
# обратите внимание, в данном случае новое значение - это список

person['languages'] = ['Python', 'C++']
person

{'first name': 'Иван',
 'last name': 'Иванов',
 'born': 1980,
 'dept': 'IT',
 'pay': 45000,
 'languages': ['Python', 'C++']}

In [140]:
# изменить элемент можно, передав существующему ключу новое значение,
# значение - это по-прежнему список, но из одного элемента

person['languages'] = ['Python']
person

{'first name': 'Иван',
 'last name': 'Иванов',
 'born': 1980,
 'dept': 'IT',
 'pay': 45000,
 'languages': ['Python']}

Метод `.update()` позволяет соединить два словаря.

In [145]:
# возьмем еще один словарь

new_elements = {'job' : 'программист', 'experience' : 7}
new_elements_1 = {'rat' : 'blue', 'data' : 2027}

In [146]:
# и присоединим его к существующему словарю с помощью метода .update()

person.update(new_elements_1)
person

{'first name': 'Иван',
 'last name': 'Иванов',
 'born': 1980,
 'dept': 'IT',
 'pay': 45000,
 'languages': ['Python'],
 'flowers': ['rozy', 'lilii'],
 'job': 'программист',
 'experience': 7,
 'rat': 'blue',
 'data': 2027}

In [147]:
new_elements = {'job' : 'web-программист'}

In [148]:
person.update(new_elements)
person

{'first name': 'Иван',
 'last name': 'Иванов',
 'born': 1980,
 'dept': 'IT',
 'pay': 45000,
 'languages': ['Python'],
 'flowers': ['rozy', 'lilii'],
 'job': 'web-программист',
 'experience': 7,
 'rat': 'blue',
 'data': 2027}

Метод `.setdefault()` не изменяет значение, если указанный ключ уже содержится в словаре.

In [149]:
# метод .setdefault() проверит есть ли ключ в словаре,
# если "да", значение не изменится

person.setdefault('last name', 'Петров')
person

{'first name': 'Иван',
 'last name': 'Иванов',
 'born': 1980,
 'dept': 'IT',
 'pay': 45000,
 'languages': ['Python'],
 'flowers': ['rozy', 'lilii'],
 'job': 'web-программист',
 'experience': 7,
 'rat': 'blue',
 'data': 2027}

In [150]:
# если нет, будет добавлен новый ключ и соответствующее значение

person.setdefault('f_languages', ['русский', 'английский'])
person

{'first name': 'Иван',
 'last name': 'Иванов',
 'born': 1980,
 'dept': 'IT',
 'pay': 45000,
 'languages': ['Python'],
 'flowers': ['rozy', 'lilii'],
 'job': 'web-программист',
 'experience': 7,
 'rat': 'blue',
 'data': 2027,
 'f_languages': ['русский', 'английский']}

#### Удаление элементов

Метод `.pop()` удаляет элемент по ключу и выводит удаляемое значение.

In [151]:
# метод .pop() удаляет элемент по ключу и выводит удаляемое значение

person.pop('dept')

'IT'

In [152]:
# мы видим, что пары 'dept' : 'IT' больше нет

person

{'first name': 'Иван',
 'last name': 'Иванов',
 'born': 1980,
 'pay': 45000,
 'languages': ['Python'],
 'flowers': ['rozy', 'lilii'],
 'job': 'web-программист',
 'experience': 7,
 'rat': 'blue',
 'data': 2027,
 'f_languages': ['русский', 'английский']}

Ключевое слово `del` также удаляет элемент по ключу.

In [159]:
# ключевое слово del также удаляет элемент по ключу
# удаляемое значение не выводится

del(person['pay'])

In [160]:
person

{'first name': 'Иван',
 'languages': ['Python'],
 'flowers': ['rozy', 'lilii'],
 'job': 'web-программист',
 'experience': 7,
 'rat': 'blue',
 'data': 2027,
 'f_languages': ['русский', 'английский']}

Метод `.popitem()` удаляет и выводит последний добавленный в словарь элемент.

In [161]:
# метод .popitem() удаляет последний добавленный элемент и выводит его

person.popitem()

('f_languages', ['русский', 'английский'])

In [ ]:
person

Метод `.clear()` удаляет все ключи и значения и возвращает пустой словарь.

In [162]:
# метод .clear() удаляет все элементы словаря

person.clear()
person

{}

In [163]:
# ключевое слово del также позволяет удалить словарь целиком

del person

In [164]:
# убедимся, что такого словаря больше нет

person

NameError: name 'person' is not defined

#### Сортировка словарей

Для сортировки словарей можно использовать функцию `sorted()`.

In [165]:
# возьмем словарь

dict_to_sort = {'k2' : 30, 'k1' : 20, 'k3' : 10}

In [166]:
# отсортируем ключи

sorted(dict_to_sort)

['k1', 'k2', 'k3']

In [167]:
# и значения

sorted(dict_to_sort.values())

[10, 20, 30]

Если нужно отсортировать пары ключ : значение по ключу или по значению, вначале используют метод `.items()` для извлечения этих пар (кортежей) из словаря.

In [168]:
# посмотрим на пары ключ : значение

dict_to_sort.items()

dict_items([('k2', 30), ('k1', 20), ('k3', 10)])

Затем указывают эти кортежи в качестве первого аргумента функции `sorted()`. Параметру `key` этой же функции передают `lambda-функцию`, которая вернет либо ключ lambda x : x[0] каждого кортежа, либо его значение lambda x : x[1]. Именно по ним и будет произведена сортировка.

In [177]:
# для их сортировки по ключу (индекс [0])
# воспользуемся методом .items() и lambda-функцией

abs = {'b' : 24, 'c' : 32, 'a': 30}

print(sorted(abs.items(), key = lambda x: x[0]))
print(sorted(abs.items(), key = lambda x: x[1]))

[('a', 30), ('b', 24), ('c', 32)]
[('b', 24), ('a', 30), ('c', 32)]

In [178]:
# сортировка по значению выполняется так же, однако
# lambda-функции мы передаем индекс [1]

sorted(dict_to_sort.items(), key = lambda x : x[1])

[('k3', 10), ('k1', 20), ('k2', 30)]

#### Копирование словарей

In [179]:
# создадим исходный словарь с количеством студентов на первом и втором курсах университета

original = {'Первый курс' : 174, 'Второй курс' : 131}

Копирование с помощью метода `.copy()`.

In [180]:
# создадим копию этого словаря с помощью метода .copy()

new_original = original.copy()
new_original

{'Первый курс': 174, 'Второй курс': 131}

In [185]:
# добавим информацию о третьем курсе в новый словарь

new_original['Третий курс'] = 117

# исходный словарь не изменился

print(original)
print(new_original)

{}
{'Третий курс': 117}

Копирование через оператор присваивания `=` (так делать не стоит!)

In [182]:
# передадим исходный словарь в новую переменную

new_2 = original

In [183]:
# удалим элементы нового словаря

new_2.clear()

# из исходного словаря данные также удалились

print(original)
print(new_2)

{}
{}

Данные были удалены из обоих словарей. Так быть не должно и поэтому такой метод копирования использовать не стоит.

### Списки и словари

Из словарей и списков создают `сложные структуры данных`:
- список списков, где одни списки становятся элементами другого;
- словарь словарей — значениями одного словаря становятся другие словари;
- словарь списков — списки выступают значениями словаря;
- списки словарей — словари становятся элементами списка.

К значениям в списке словаря обращаются по двум «координатам»:
- индексу списка,
- имени ключа.

In [197]:
# пример списка словарей

movies_table = [
    {'movie_name':'Побег из Шоушенка', 'country':'США', 'genre':'драма', 'year':1994, 'duration':142, 'rating':9.111},
    {'movie_name':'Крёстный отец', 'country':'США', 'genre':'драма, криминал', 'year':1972, 'duration':175, 'rating':8.730},
    {'movie_name':'Тёмный рыцарь', 'country':'США', 'genre':'фантастика, боевик, триллер', 'year':2008, 'duration':152, 'rating':8.499}
]

movies_table

songs_table = [
    {'Group' : 'AC/DC', 'Best Song' : 'Shoot To Thrill'},
    {'Group' : 'My Chemical Romance', 'Best Song' : 'Welcome to the Black Parade'},
    {'Group' : 'Artic Monkeys', 'Best Song' : '505'},
    {'Group' : 'Big Time Rush', 'Best Song' : 'Boyfriend'}
]

df = pd.DataFrame(songs_table)
print(df)

                 Group                    Best Song
0                AC/DC              Shoot To Thrill
1  My Chemical Romance  Welcome to the Black Parade
2        Artic Monkeys                          505
3        Big Time Rush                    Boyfriend

Поэтому список словарей более всего напоминает таблицы `pandas`, где к данным обращаются по номеру строки и имени колонки:

In [198]:
df = pd.DataFrame(movies_table)
df

,movie_name,country,genre,year,duration,rating
0,Побег из Шоушенка,США,драма,1994,142,9.111
1,Крёстный отец,США,"драма, криминал",1972,175,8.730
2,Тёмный рыцарь,США,"фантастика, боевик, триллер",2008,152,8.499

Циклы могут обойти список словарей как обычный список. Например, так можно отфильтровать данные или посчитать сумму значений любой «колонки».

In [199]:
total_duration = 0 # присваиваем переменной с общей длительностью стартовое значение

for movie in movies_table: # перебираем каждый словарь в списке
    total_duration += movie['duration'] # добавляем к переменной длительность фильма

print(total_duration)

469

### Вывод словаря на экран

Чтобы список словаря было удобно прочитать, можно подготовить его к печати функцией `dumps()` из библиотеки `json`. Она добавит отступы, которые разделят две «оси координат» в списке словарей:
- индексы списка,
- ключи словаря.

In [200]:
from json import dumps # подключение dumps() для красивого вывода словаря

In [201]:
movies_table = [
    {'movie_name':'Побег из Шоушенка', 'country':'США', 'genre':'драма', 'year':1994, 'duration':142, 'rating':9.111},
    {'movie_name':'Крёстный отец', 'country':'США', 'genre':'драма, криминал', 'year':1972, 'duration':175, 'rating':8.730},
    {'movie_name':'Тёмный рыцарь', 'country':'США', 'genre':'фантастика, боевик, триллер', 'year':2008, 'duration':152, 'rating':8.499}
]

print(dumps(movies_table, indent=4, ensure_ascii=False))

[
    {
        "movie_name": "Побег из Шоушенка",
        "country": "США",
        "genre": "драма",
        "year": 1994,
        "duration": 142,
        "rating": 9.111
    },
    {
        "movie_name": "Крёстный отец",
        "country": "США",
        "genre": "драма, криминал",
        "year": 1972,
        "duration": 175,
        "rating": 8.73
    },
    {
        "movie_name": "Тёмный рыцарь",
        "country": "США",
        "genre": "фантастика, боевик, триллер",
        "year": 2008,
        "duration": 152,
        "rating": 8.499
    }
]

Функцией `dumps()` управляют два параметра:
- indent=4 — настроит отступ;
- ensure_ascii=False — обработает кириллические символы.

#### Вложенные словари

In [215]:
# возьмем словарь, ключами которого будут id сотрудников

employees = {
    'id1': {
        'first name': 'Александр',
        'last name' : 'Иванов',
        'age': 30,
        'job':'программист'
    },
    'id2': {
        'first name': 'Ольга',
        'last name' : 'Петрова',
        'age': 35,
        'job':'ML-engineer'
    }
}

print(employees)

{'id1': {'first name': 'Александр', 'last name': 'Иванов', 'age': 30, 'job': 'программист'}, 'id2': {'first name': 'Ольга', 'last name': 'Петрова', 'age': 35, 'job': 'ML-engineer'}}

In [209]:
# а значениями - вложенные словари с информацией о них

for v in employees.values():
    print(v)

{'first name': 'Александр', 'last name': 'Иванов', 'age': 30, 'job': 'программист'}
{'first name': 'Ольга', 'last name': 'Петрова', 'age': 35, 'job': 'ML-engineer'}

##### Базовые операции

In [220]:
# для того чтобы вывести значение элемента вложенного словаря,
# воспользуемся двойным ключом

employees['id1']['job']

'программист'

In [221]:
# импортируем функцию pprint() из модуля pprint
# некоторые структуры данных она выводит лучше, чем обычная print()

from pprint import pprint

In [222]:
# добавим информацию о новом сотруднике

employees['id3'] = {'first name': 'Дарья', 'last name' : 'Некрасова', 'age': 27, 'job' : 'веб-дизайнер' }

# и выведем обновленный словарь с помощью функции pprint()

pprint(employees)

{'id1': {'age': 30,
         'first name': 'Александр',
         'job': 'программист',
         'last name': 'Иванов'},
 'id2': {'age': 35,
         'first name': 'Ольга',
         'job': 'ML-engineer',
         'last name': 'Петрова'},
 'id3': {'age': 27,
         'first name': 'Дарья',
         'job': 'веб-дизайнер',
         'last name': 'Некрасова'}}

In [224]:
# изменить значение вложенного словаря можно также с помощью двойного ключа

employees['id3']['age'] = 26
pprint(employees)

{'id1': {'age': 30,
         'first name': 'Александр',
         'job': 'программист',
         'last name': 'Иванов'},
 'id2': {'age': 35,
         'first name': 'Ольга',
         'job': 'ML-engineer',
         'last name': 'Петрова'},
 'id3': {'age': 26,
         'first name': 'Дарья',
         'job': 'веб-дизайнер',
         'last name': 'Некрасова'}}

##### Циклы `for`

In [225]:
# заменим тип данных в информации о возрасте с int на float

# для этого вначале пройдемся по вложенным словарям,
# т.е. по значениям info внешнего словаря employees

for info in employees.values():

  # затем по ключам и значениям вложенного словаря info
  for k, v in info.items():

    # если ключ совпадет со словом 'age'
    if k == 'age':

      # преобразуем значение в тип float
      info[k] = float(v)

pprint(employees)

{'id1': {'age': 30.0,
         'first name': 'Александр',
         'job': 'программист',
         'last name': 'Иванов'},
 'id2': {'age': 35.0,
         'first name': 'Ольга',
         'job': 'ML-engineer',
         'last name': 'Петрова'},
 'id3': {'age': 26.0,
         'first name': 'Дарья',
         'job': 'веб-дизайнер',
         'last name': 'Некрасова'}}

# Задание

1. Запишите в словарь `movies` четыре фильма. Название послужит ключом, а год выхода — значением.

* Измените словарь таким образом, чтобы ключами стали порядковые числа, а название - значением.
* Для словаря `movies` выведите ключи, значения и пары ключ-значение.
* Добавьте еще один фильм.
* Используя цикл `for` выведите ключи, значения и пары ключ-значение.
* Используя небезопасный способ выведите информацию о фильме, ключа для которого нет в словаре.
* Повторите операцию пункта 4, используя безопасный способ.
* Проверьте наличие в словаре конкретного (имеющегося) фильма по его ключу, по его наименованию, по паре ключ-значение.
* Проверьте наличие в словаре конкретного (отсутствующего) фильма по его ключу, по его наименованию, по паре ключ-значение.

2. Создайте карточку студента в формате словаря Python.<br>
Укажите следующие ключи: `first name`, `last name`, `gender`, `age` (значения могут быть произвольными).

* К созданной карточке студента добавьте ключ `year` (курс) и значение 3.
* Предположим студент перешел на четвертый курс. Обновите данные в словаре.
* Проверьте, есть ли в словаре ключ `major` (основная специальность), но так, чтобы при этом не возникло ошибки.
* Соедините ранее созданный словарь с новым. В новом словаре должны быть следующие ключи: `major` и `sports`. Значения могут быть произвольными.
* Удалите данные о поле студента (ключ `gender`).
* Создайте копию получившегося словаря. Измените любое значение в копии словаря. Убедитесь, что исходный словарь не изменился.

3. Создайте `список словарей`, состоящий из 5 сериалов с указанием наименования сериала, страны, жанра, канала (шоураннера) и количества серий.
* Сформируйте `датафрейм` на основе созданного списка словарей и выведите его на экран.
* Рассчитайте общее количество серий, используя цикл `for`.
* Выведите список словарей на экран, используя функцию `dumps()`.

In [284]:
# Задание 1
from pprint import pprint
import pandas as pd
from json import dumps

movies = {'Alone Home' : 1990,
          'Avatar' : 2009,
          'Avatar 2' : 2022,
          'Transformers' : 2007
}

# Ключи -> порядковые числа, названия - значением
movies_list = list(movies.keys())
movies_reversed =  {i: movies_list[i] for i in range(len(movies_list))}

# Проверка
for k, v in movies_reversed.items():
    print(k, v)

print()

# Ключи, значения и пары ключ-значение.
print('Keys:', movies.keys())
print('Values:', movies.values())
print('Keys-Velues:', movies.items())
print()

movies['Avatar 3'] = 2025

# Ключи, значения и пары ключ-значение (for)
for k, v in movies.items():
    print('key:', k, '| ' 'Value:', v )

print()

# Небезопасный способ
# print(movies['Avatar 4']) # KeyError
print(movies.get('Avatar 4', 'Такого фильма нет!'))

# Поиск существующего фильма
print(movies.get('Avatar 2'))

# Поиск не существующего фильма
print(movies.get('Avatar 5'))

0 Alone Home
1 Avatar
2 Avatar 2
3 Transformers

Keys: dict_keys(['Alone Home', 'Avatar', 'Avatar 2', 'Transformers'])
Values: dict_values([1990, 2009, 2022, 2007])
Keys-Velues: dict_items([('Alone Home', 1990), ('Avatar', 2009), ('Avatar 2', 2022), ('Transformers', 2007)])

key: Alone Home | Value: 1990
key: Avatar | Value: 2009
key: Avatar 2 | Value: 2022
key: Transformers | Value: 2007
key: Avatar 3 | Value: 2025

Такого фильма нет!
2022
None

In [285]:
# Задание 2
student = {
    'first name' : 'Spartak',
    'last name' : 'Deppershmidt',
    'gender' : 'male',
    'age' : '19'
}

student['year'] = 3
student['year'] = 4

# Проверка, без ошибки
student.get('major', 'Такого ключа нет!')

new_student = {'major' : 'IT', 'sports' : 'volleyball'}

# Соединение словарей
student.update(new_student)
pprint(student)
print()

del student['gender']
pprint(student)
print()

# Создание копии словаря
student_copy = student.copy()
pprint(student_copy)
print()

student_copy['age'] = 23
pprint(student_copy)
print()

# Исходный словарь
pprint(student)

{'age': '19',
 'first name': 'Spartak',
 'gender': 'male',
 'last name': 'Deppershmidt',
 'major': 'IT',
 'sports': 'volleyball',
 'year': 4}

{'age': '19',
 'first name': 'Spartak',
 'last name': 'Deppershmidt',
 'major': 'IT',
 'sports': 'volleyball',
 'year': 4}

{'age': '19',
 'first name': 'Spartak',
 'last name': 'Deppershmidt',
 'major': 'IT',
 'sports': 'volleyball',
 'year': 4}

{'age': 23,
 'first name': 'Spartak',
 'last name': 'Deppershmidt',
 'major': 'IT',
 'sports': 'volleyball',
 'year': 4}

{'age': '19',
 'first name': 'Spartak',
 'last name': 'Deppershmidt',
 'major': 'IT',
 'sports': 'volleyball',
 'year': 4}

In [310]:
# Задание 3
series = [
    {'Название сериала': 'Виктория Победительница', 'Страна' : 'США',
     'Жанр' : 'Комедия', 'Канал' : 'Никелодион', 'Кол-во серий' : 96},
    {'Название сериала': 'Губка-Боб', 'Страна' : 'США',
     'Жанр' : 'Комедия', 'Канал' : 'Никелодион', 'Кол-во серий' : 101},
    {'Название сериала': 'Биг Тайм Раш', 'Страна' : 'США',
     'Жанр' : 'Комедия', 'Канал' : 'Никелодион', 'Кол-во серий' : 166},
    {'Название сериала': 'Ники, Рики, Дики и Дон', 'Страна' : 'США',
     'Жанр' : 'Комедия', 'Канал' : 'Никелодион', 'Кол-во серий' : 121},
    {'Название сериала': 'Мой тихий дом', 'Страна' : 'США',
     'Жанр' : 'Комедия', 'Канал' : 'Никелодион', 'Кол-во серий' : 81}
]

df = pd.DataFrame(series)
print(df)
print()

total_episodes = 0

for show in series:
    total_episodes += show["Кол-во серий"]

print('Общее количество серий:', total_episodes)
print()

print('Вывод методом dumps:', dumps(series, indent=4, ensure_ascii=False))

          Название сериала Страна     Жанр       Канал  Кол-во серий
0  Виктория Победительница    США  Комедия  Никелодион            96
1                Губка-Боб    США  Комедия  Никелодион           101
2             Биг Тайм Раш    США  Комедия  Никелодион           166
3   Ники, Рики, Дики и Дон    США  Комедия  Никелодион           121
4            Мой тихий дом    США  Комедия  Никелодион            81

Общее количество серий: 565

Вывод методом dumps: [
    {
        "Название сериала": "Виктория Победительница",
        "Страна": "США",
        "Жанр": "Комедия",
        "Канал": "Никелодион",
        "Кол-во серий": 96
    },
    {
        "Название сериала": "Губка-Боб",
        "Страна": "США",
        "Жанр": "Комедия",
        "Канал": "Никелодион",
        "Кол-во серий": 101
    },
    {
        "Название сериала": "Биг Тайм Раш",
        "Страна": "США",
        "Жанр": "Комедия",
        "Канал": "Никелодион",
        "Кол-во серий": 166
    },
    {
        "Название сериала": "Ники, Рики, Дики и Дон",
        "Страна": "США",
        "Жанр": "Комедия",
        "Канал": "Никелодион",
        "Кол-во серий": 121
    },
    {
        "Название сериала": "Мой тихий дом",
        "Страна": "США",
        "Жанр": "Комедия",
        "Канал": "Никелодион",
        "Кол-во серий": 81
    }
]

# Задание

Дан вложенный словарь.

In [289]:
writers = {
    'Shakespeare' : {
        'works' : ['Hamlet', 'Romeo and Juliet', 'Othello', 'King Lear'],
        'born' : 1564,
        'language' : 'English'
    },
    'Dumas' : {
        'works' : ['Les Trois Mousquetaires', 'Le Comte de Monte-Cristo'],
        'born': 1802,
        'language' : 'French'
    },
    'Tolstoy' : {
        'works' : ['Война и мир', 'Анна Каренина', 'Воскресение'],
        'born' : 1908,
        'language' : 'Russian'
    }
}

Выведите словарь с помощью функции `pprint()`.

In [295]:
pprint(writers)

{'Dumas': {'born': 1802,
           'language': 'French',
           'works': ['Les Trois Mousquetaires', 'Le Comte de Monte-Cristo']},
 'Shakespeare': {'born': 1564,
                 'language': 'English',
                 'works': ['Hamlet',
                           'Romeo and Juliet',
                           'Othello',
                           'King Lear']},
 'Tolstoy': {'born': 1908,
             'language': 'Russian',
             'works': ['Война и мир', 'Анна Каренина', 'Воскресение']}}

Выведите год рождения Дюма.

In [296]:
print(writers['Dumas']['born'])

1802

Добавьте пьесу Macbeth (Макбет) в перечень произведений Шекпира.

In [306]:
writers['Shakespeare']['works'] = list(set(writers['Shakespeare']['works']))

if 'Macbeth' not in writers['Shakespeare']['works']:
    writers['Shakespeare']['works'].append('Macbeth')

pprint(writers['Shakespeare']['works'])

['King Lear', 'Romeo and Juliet', 'Hamlet', 'Othello', 'Macbeth']

Создайте список языков, на которых писали авторы.

Подсказка: используйте два цикла `for` или вложенные dict comprehension.

In [307]:
languages = []

for author in writers.values():
    if author['language'] not in languages:
        languages.append(author['language'])

print(languages)

['English', 'French', 'Russian']

In [308]:
languages = list({author['language'] for author in writers.values()})
print(languages)

['French', 'English', 'Russian']